<div class="date-range">
  <div class="input-append date datepicker" data-date="<%= f.object.start_date.present? ? f.object.start_date.strftime('%m/%d/%Y') : Date.today.strftime('%m/%d/%Y') %>" data-date-format="mm/dd/yyyy">
    <%= f.input :start_date, :as => :string, :readonly => true, :placeholder => t("activerecord.attributes.#{f.object.class.to_s.underscore}.start_date"), :label => t("activerecord.attributes.#{f.object.class.to_s.underscore}.date_range"), :error => false, :input_html => { :value => f.object.start_date.present? ? f.object.start_date.strftime('%m/%d/%Y') : '', :class => "#{f.object.class.to_s.underscore.dasherize}-start-date" } %>
    <span class="add-on"><i class="icon-th"></i></span>
    <% if f.object.errors[:start_date].present? %>
      <span class="help-inline"><%= f.object.errors[:start_date].join(', ') %>.</span>
    <% end %>
  </div>
  <div class="input-append date datepicker nolabel" data-date="<%= f.object.end_date.present? ? f.object.end_date.strftime('%m/%d/%Y') : Date.today.strftime('%m/%d/%Y') %>" data-date-format="mm/dd/yyyy">
    <%= f.input :end_date, :as => :string, :readonly => true, :placeholder => t("activerecord.attributes.#{f.object.class.to_s.underscore}.end_date"), :error => false, :input_html => { :value => f.object.end_date.present? ? f.object.end_date.strftime('%m/%d/%Y') : '', :class => "#{f.object.class.to_s.underscore.dasherize}-end-date" } %>
    <span class="add-on"><i class="icon-th"></i></span>
    <% if f.object.errors[:end_date].present? %>
      <span class="help-inline"><%= f.object.errors[:end_date].join(', ') %>.</span>
    <% end %>
  </div>
  <div class="pull-left btn clear-date-range" rel="tooltip" title="Clear Date Range">
    <i class="icon-remove"></i>
  </div>
</div>
